* {
	margin: 0;
}
:root{
    --Darkcyan: hsl(158, 36%, 37%);
    --Darkcyan2: hsl(159, 31%, 28%);
    --Cream: hsl(30, 38%, 92%);    
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}
::-webkit-scrollbar{
    display: none;
}
@font-face {
    font-family: isso;
    src: url(/fonts/Fraunces[SOFT\,WONK\,opsz\,wght].ttf);
}
@font-face {
    font-family: isso2;
    src: url(/fonts/Montserrat[wght].ttf);
}
body{
    background-color: var(--Cream);
}
main {
	width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    height: 100vh;
    background-color: var(--Cream);
    font-size: 14px;
    font-family: isso;
}
main p{
    font-size: 14px;
}
section{
    display: flex;
    flex-direction: column;
    width: 80%;
}
.price{
    display: flex;
    gap: 20px;
    align-items: center;
}
button{
    background-color: var(--Darkcyan);
    border: none;
    color: var(--Cream);
}
footer{
    background-color: var(--Cream);
    padding-bottom: 10px;
}

@media screen and (max-width:320px){
    section{
        background-color: var(--White);
        border-radius: 12px;
        padding-bottom: 20px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 35vh;
        border-radius: 12px 12px 0px 0px;
        background-image: url(/images/image-product-mobile.jpg);
    }
    section .right{
        padding-left: 15px;
    }
    section .right h1{
        font-size: 11px;
        padding-top: 18px;
        color: var(--Darkgrayishblue);
        font-weight: 500;
        text-transform: uppercase;
        font-family:isso2;
    }
    section .right h2{
        color: var(--Verydarkblue);
        font-size: 27px;
        width: 95%;
        padding-top: 10px;
    }
    section .right .flora{
        color: var(--Darkgrayishblue);
        padding-top: 10px;
        text-align: left;
        width: 91%;
        font-size: 12px;
        font-family: isso2;
        font-weight: 460;
    }
    .price{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .big{
        color: var(--Darkcyan);
        font-size: 30px;
        font-weight: 700;
    }
    .small{
        text-decoration: line-through;
        font-size: 12px;
        color: var(--Darkgrayishblue);
    }
    button{
        padding: 12px;
        border-radius: 8px;
        width: 90%;
        font-size: 13px;
        font-weight: 700;
        font-family: isso2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    button:hover{
        cursor: pointer;
        background-color: var(--Darkcyan2);
    }
    button img{
        padding-right: 5px;
        width: 12px;
        color: black;
    }
}
@media screen and (min-width:320px){
    section{
        background-color: var(--White);
        border-radius: 12px;
        padding-bottom: 20px;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .image{
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 35vh;
        border-radius: 12px 12px 0px 0px;
        background-image: url(/images/image-product-mobile.jpg);
    }
    section .right{
        padding-left: 15px;
    }
    section .right h1{
        font-size: 11px;
        padding-top: 18px;
        color: var(--Darkgrayishblue);
        font-weight: 500;
        text-transform: uppercase;
        font-family:isso2;
    }
    section .right h2{
        color: var(--Verydarkblue);
        font-size: 27px;
        width: 95%;
        padding-top: 10px;
    }
    section .right .flora{
        color: var(--Darkgrayishblue);
        padding-top: 10px;
        text-align: left;
        width: 91%;
        font-size: 12px;
        font-family: isso2;
        font-weight: 460;
    }
    .price{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .big{
        color: var(--Darkcyan);
        font-size: 30px;
        font-weight: 700;
    }
    .small{
        text-decoration: line-through;
        font-size: 12px;
        color: var(--Darkgrayishblue);
    }
    button{
        padding: 12px;
        border-radius: 8px;
        width: 90%;
        font-size: 13px;
        font-weight: 700;
        font-family: isso2;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 10;
    }
    button:hover{
        cursor: pointer;
        background-color: var(--Darkcyan2);
    }
    button img{
        padding-right: 5px;
        width: 12px;
        color: black;
    }
}
@media screen and (min-width:375px){
    section{
        width: 85%;
    }
    .image{
        height: 40vh;
    }
    section .right{
        padding-left: 20px;
    }
    section .right .flora{
        width: 85%;
        font-weight: 600;
    }
    .price{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .big{
        color: var(--Darkcyan);
        font-size: 30px;
        font-weight: 700;
    }
    .small{
        text-decoration: line-through;
        font-size: 12px;
        color: var(--Darkgrayishblue);
    }
    button{
        padding: 12px;
        border-radius: 8px;
        width: 90%;
        font-size: 13px;
        font-weight: 700;
        font-family: isso2;
    }
    button img{
        padding-right: 5px;
        width: 12px;
        color: black;
    }
}
@media screen and (min-width:375px) and (min-height:667px){
    section{
        width: 92%;
        padding-bottom: 40px;
    }
    .image{
        height: 35vh;
    }
    section .right h1{
        font-size: 14px;
    }
    section .right h2{
        font-size: 32px;
        width: 95%;
    }
    section .right .flora{
        width: 90%;
        font-size: 14px;
        font-weight: 500;
    }
    .big{
        font-size: 35px;
    }
    .small{
        font-size: 13px;
    }
    button{
        font-size: 18px;
    }
    button img{
        width: 16px;
    }
}
@media only screen and (min-width:425px){
    main{
        padding-top: 20px;
    }
    section{
        width: 90%;
    }
    .image{
        height: 40vh;
    }
    section .right{
        padding-left: 18px;
    }
    section .right h1{
        font-size: 14px;
    }
    section .right h2{
        font-size: 35px;
        width: 85%;
    }
    section .right .flora{
        width: 82%;
        font-size: 14px;
        font-weight: 560;
    }
    button img{
        width: 14px;
    }
}
@media only screen and (min-width:575px){
    main{
        height: fit-content;
    }
    .image{
        height: 50vh;
    }
    section .right{
        padding-left: 25px;
    }
    .small{
        font-size: 14px;
    }
    button img{
        width: 16px;
    }
}
@media only screen and (min-width:768px){
    main{
        height: 100vh;
    }
    section{
        padding-bottom: 20px;
    }
    .image{
        height: 50vh;
    }
    section .right{
        padding-left: 50px;
    }
    section .right h1{
        font-size: 20px;
    }
    section .right h2{
        font-size: 35px;
    }
    section .right .flora{
        font-size: 18px;
    }
    .big{
        font-size: 40px;
    }
    .small{
        font-size: 19px;
    }
    button img{
        width: 16px;
    }
}
@media only screen and (min-width:992px){
    main{
        height: 100vh;
    }
    section{
        padding-bottom: 0px;
        flex-direction: row;
    }
    .image{
        height: 50vh;
        background-image: url(/images/image-product-desktop.jpg);
        border-radius: 12px 0px 0px 12px;
    }
    section .right{
        padding-left: 40px;
        padding-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 50vh;
    }
    section .right h1{
        font-size: 20px;
        padding-bottom: 5px;
    }
    section .right h2{
        font-size: 55px;
        width: 85%;
    }
    section .right .flora{
        font-size: 19px;
        width: 95%;
        padding-top: 30px;
    }
    .price{
        padding-bottom: 30px;
        padding-top: 30px;
    }
    .big{
        font-size: 40px;
    }
    .small{
        font-size: 19px;
    }
    button{
        padding: 17px;
        font-size: 23px;
    }
    button img{
        width: 20px;
    }
}
